<div class="div-to-align">
  <div class="modal__window">
    <div class="modal__window-body">
      <h2>Edit task:</h2>
      <input
        type="text"
        id="textsend"
        placeholder="What's change?"
        (keyup)="success()"
        #inputName
        required
      />
      <br />
      <button
        class="btn btn-success"
        id="button"
        (click)="close('none'); getNewName(inputName); inputName.value = ''"
        disabled
      >
        Confirm
      </button>
      <button
        class="btn btn-secondary"
        (click)="close('none'); inputName.value = ''"
      >
        Close
      </button>
    </div>
  </div>
  <div class="modal__window-background"></div>
</div>
