<html>
  <body>
    <header>
      <h1>Todo-app</h1>
    </header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-5">
          <app-tasks-typing
            (taskCreated)="onTaskAdded($event)"
          ></app-tasks-typing>
        </div>
        <div class="col-sm-7">
          <div class="card">
            <h2>Things I have to do:</h2>
            <app-list
              *ngFor="let taskElement of tasksElements"
              [name]="taskElement.name"
            ></app-list>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
