<html>
  <body>
    <header>
      <h1>Todo-app</h1>
    </header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-5">
          <app-tasks-typing
            [todos]="this.taskService.getAll()"
            (onAdd)="addTask($event)"
          >
          </app-tasks-typing>
        </div>
        <div class="col-sm-7">
          <div class="card">
            <h2>Things I have to do:</h2>
            <app-list
              [todos]="this.taskService.getAll()"
              (onRemove)="removeTask($event)"
              (changeName)="updateTask($event)"
            ></app-list>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
