<ul>
  <li *ngFor="let task of todos">
    <div class="card-body">
      <div class="row">
        <div class="list-group-item" #strikethrough>
          {{ this.task.content }}
        </div>
        <div class="btn-group" role="group" aria-label="Basic example">
          <!-- <button
            type="button"
            class="btn btn-success"
            (click)="addClass(task.isDone)"
          >
            Done
          </button> -->

          <button
            type="button"
            class="btn btn-warning dialog"
            (click)="passIndex(task.id); open('block')"
          >
            Edit
          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="removeTask(task.id)"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </li>
</ul>
