li {
  list-style: none;
}

.row {
  padding: 0 1rem 0 0;
}

.list-group-item {
  width: 70%;
  font-weight: 500;
  letter-spacing: 1px;
}
.btn {
  width: 100%;
}

.btn-group {
  width: 30%;
  height: inherit;
}

.completed {
  text-decoration: line-through;
  color: grey;
}
