li {
  list-style: none;
}

.row {
  padding: 0 1rem 0 0;
}

.list-group-item {
  width: 70%;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 5px 0 0 5px;
}
.btn {
  width: 50%;
}

.btn-group {
  width: 30%;
  height: inherit;
}

.completed {
  text-decoration: line-through;
  color: grey;
}

@media screen and (max-width: 1210px) {
  .list-group-item {
    font-size: 0.9rem;
    width: 65%;
  }
  .btn-group {
    width: 35%;
  }
  .btn {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 768px) {
  .list-group-item {
    font-size: 0.8rem;
    width: 60%;
  }
  .btn-group {
    width: 40%;
  }
  .btn {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 590px) {
  .list-group-item {
    width: 100%;
    border-radius: 5px 5px 0 0;
  }
  .btn-group {
    width: 100%;
  }
  .row {
    display: block;
  }
}
